@media screen and (min-width: $container-size) {

  body { font-size: 95%; }
  
  #title a { padding: 0 $margin-1080; }
  
  h3#comments, h3#reply-title { margin: $margin-1080 0; }
  
  img.alignright,
  .wp-caption.alignright {
    margin: 1em 0 0 $margin-1080;
  }
  img.alignleft,
  .wp-caption.alignleft {
    margin: 1em $margin-1080 0 0;
  }
  
  #header-widget { margin-right: $margin-1080; }
  
  #sidebar {
    width: $nav-width * $container-size;
    margin-left: $margin-1080;
    padding: $margin-1080 0;
    #sidebar-widget { bottom: $margin-1080; }
  }
  
  nav#post-nav { margin-top: $margin-1080; }
  
  #content {
    width: $content-width * 100%;
    padding: $margin-1080 $margin-1080 $margin-1080 0;
  }
  
  .archive-header { margin-bottom: $margin-1080; }
  
  #archive li { margin-bottom: $margin-1080; }
  
  #archive #searchform { margin-bottom: $standard-margin; }
  
  #page { margin-top: $margin-1080; }
  article:not(.excerpt) { margin-bottom: $margin-1080; }
  #article-bottom { margin-top: $margin-1080; }
}