@media screen and (max-width: 640px) {

  #title { font-size: 2em; }

  #archive {
    margin: 0 auto;
    li {
      width: 100%;
      margin-bottom: 5%;
      .thumbnail {
        padding-top: (50% / 2.618);
        padding-bottom: (50% / 2.618);
      }
    }
  }
  
}