body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size:120%;
  margin:0;
  background-color:#ffffff;
  color:#1f1f1f;
}

#header {
  position:relative;
  top:0;
  left:0;
  right:0;
  min-width:800px;
  height:200px;
  color:#1f1f1f;
}

#title {
  position:absolute;
  line-height:200px;
  left:0;
  right:0;
  text-align:center;
  font-size:5.5em;
}

#title a {
  text-decoration:none;
  color:#1f1f1f;
}

#title #henley {
  display:inline;
  margin-right:10px;
  color:#5f8490;
}

#title #edition {
  display:inline;
  margin-left:10px;
}

#subtitle {
  display:block;
  position:relative;
  top:167px;
  margin:auto;
  min-width:400px;
  text-align:center;
  font-size:0.9em;
}

#navbar {
  position:relative;
  display:block;
  left:0;
  right:0;
  min-width:800px;
  text-align:center;
  padding:0;
  margin:auto;
  list-style:none;
  border-top:1px solid #1f1f1f;
  border-bottom:1px solid #1f1f1f;
}

#navbar li {
  display:inline-block;
  z-index:2;
  height:32px;
  width:143px;
  margin:0;
  padding:0;
  line-height:32px;
  text-align:center;
  font-size:1em;
}

#navbar li a {
  display:block;
  width:100%;
  text-decoration:none;
  color:#1f1f1f;
}

#navbar li:hover {
  background-color:#1f1f1f;
}

#navbar li:hover a {
  color:#ffffff;
}

#content {
  position:relative;
  margin:auto;
  padding:0 34px;
  border-left:1px solid #1f1f1f;
  width:732px;
  text-align:justify;
}

#content h1 {
  line-height:1.2em;
  font-size:2.8em;
  font-weight:normal;
}

#content #main-image {
  display:block;
  height:300px;
  width:100%;
  overflow:hidden;
  margin:40px 0;
}

#content #main-image img {
  width:100%;
}

#content p {
  line-height:1.7em;
}

#content .first-words {
  font-weight:bold;
}

#content p:first-of-type:first-letter {
  display:block;
  float:left;
  height:0.7em;
  line-height:0.7em;
  font-size:5.8em;
  font-weight:normal;
  margin:12px 8px -10px 2px;
}


#content a {
  color:#5f8490;
  text-decoration:none;
}

#content a:hover {
  padding-bottom:1px;
  border-bottom:1px solid #5f8490;
}

#content p code {
  display:inline-block;
  font-family:"Courier New", Courier, monospace;
  font-size:0.8em;
}

#content blockquote {
  margin:0 50px 0 50px;
  padding:5px 34px;
  line-height:1.4em;
  border-left:1px solid #1f1f1f;
}

#content blockquote code {
  display:block;
  font-family:"Courier New", Courier, monospace;
  font-size:0.7em;
  max-height:500px;
  white-space:nowrap;
  overflow:auto;
  line-height:1.4em;
}

#content hr {
  height:0;
  width:80%;
  border:0;
  border-bottom:1px solid #1f1f1f;
}

#footer {
  position:relative;
  top:20px;
  min-width:800px;
  height:60px;
  line-height:60px;
  font-size:0.6em;
  text-align:center;
  color:#1f1f1f;
}

#footer #footer-dots {
  position:relative;
  left:0;
  right:0;
  height:34px;
  border-top:1px solid #1f1f1f;
  border-bottom:1px solid #1f1f1f;
}
