// 1280px corresponds to max-width of container //

@media screen and (min-width: $container-size) {

  body { font-size: 95%; }
  h1 { font-size: 4em; }
  
  ul.page-numbers { padding-right: $margin-1280; }
  
  img.alignright,
  .wp-caption.alignright {
    margin: 1em 0 0 $margin-1280;
  }
  img.alignleft,
  .wp-caption.alignleft {
    margin: 1em $margin-1280 0 0;
  }
  
  #container {
  
    div#sidebar {
      width: $nav-width * $container-size;
      margin-left: $margin-1280;
      padding: $margin-1280 0;
    }
    
    nav#post-nav { margin-top: $margin-1280; }
    
    section#content {
      width: $content-width * 100%;
      padding: $margin-1280 0;
      
      .post-header { height: 360px; }
      .archive-header, .attachment-header {
        padding-right: $margin-1280;
      }
      .archive-header { margin-bottom: $margin-1280; }
      
      #archive, #post-list {
        margin-right: $margin-1280;
        li { margin-bottom: $margin-1280; }
        li.odd .thumbnail { margin-left: $margin-1280; }
        li.even {
          padding: $margin-1280;
          .thumbnail { margin-right: $margin-1280; }
        }
      }
      
      #archive-page {
        #searchform { margin-top: $margin-1280; }
        h3 { margin: $margin-1280 0; }
      }
      
      nav.pagination { margin: $margin-1280 $margin-1280 0 0; }
      
      article#attachment { padding-right: $margin-1280; }
      article#page { margin-top: $margin-1280; }
      article { margin-bottom: $margin-1280; }
      div#article-bottom { margin-top: $margin-1280; }
    }
  }
}