@media screen and (max-width: 480px) {

  html { -webkit-text-size-adjust: none; }
  body { font-size: 95%; }
  
  h1 { font-size: 2.1em; }
  h2 { font-size: 1.5em; }
  
  section#content {
  
    #archive, #post-list {
  
      li .thumbnail {
        float: none;
        margin-bottom: (5% * (100% / $post-width-640));
      }
      
      li.odd, li.even {
        .thumbnail {
          width: 100%;
          padding-top: (100% / 1.618);
        }
      }
      
      h3.post-title {
        clear: both;
      }
    }
  }
}