@media screen and (max-width: 480px) {

  html { -webkit-text-size-adjust: none; }
  body { font-size: 95%; }
  #header #title { font-size: 1.8em; }
  h2 { font-size: 1.5em; }
  
  #archive { 
    li.odd-post, li.even-post {
      .thumbnail {
        padding-top: (100% / 1.618);
      }
    }
  }
}