@media screen and (max-width: 640px) {
 
  header#header {
    text-align: left;
    #title { 
      font-size: 1.8em;
      a { padding: 0 5%; }
    }
    .menu-link {
      position: absolute;
      top: 0; right: 0;
      display: block;
      width: 74px;
      padding: 0;
      font-size: 2em;
      color: $primary-color;
      text-align: center;
      @include prefix(transition, all 0.2s);
      &:hover { background: $line-color; }
    }
    #header-widget { display: none; }
  }
  h2 { padding-left: 0; }
  h3#comments, h3#reply-title { margin: 5% 0; }
      
  #container { padding: 0 0 5% 0; }
    
  #sidebar {
    position: absolute;
    top: 74px;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    max-width: 100%;
  
    nav#site-nav {
    top: 0 !important;
      
      > ul {
        z-index: 10;
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        width: 100%;
        background: rgba(62,62,62,0.9);
        
        &.active {
          z-index: 1000;
          display: block;
          padding: 5% 20%;
        }
        
        > li { 
          margin-bottom: 0.5em;
          border: 1px solid transparent;
          &.active { border: 1px solid $bg-color; }
        }
        
        li {
          text-align: center;
          background-color: transparent;
          
          &.active {
            > a {
              background-color: transparent;
              text-decoration: underline;
              padding: 1em;
              border-right: none;
            }
            > ul.sub-menu {
              border-top: 1px solid $bg-color;
              display: block;
            }
          }
          
          a {
            color: $bg-color;
            padding: 1em;
            &:hover {
              background-color: transparent;
              text-decoration: underline;
              border: none;
              padding: 1em;
            }
          }

          
          ul.sub-menu {
            background-color: transparent;
          }
        }
      }
    }
    #sidebar-widget { display: none; }
  }
  
  section#content {
    width: 100%;
    padding-top: 0;
    float: none;
  }
    
  nav.pagination {
    margin: 5% 0 0 0;
    * {
      &.prev { padding-left: 0; left: 5%; }
      &.next { padding-right: 0; right: 5%; }
    }
  }
  
  header.post-header,
  .archive-header, .attachment-header,
  article, #attachment,
  #comments-section,
  ul.page-numbers, {
    width: $post-width-640;
  }
  
  header.post-header {
    margin: 5% auto 0 auto;
    padding-left: 0;
  }
  
  .archive-header, .attachment-header {
    margin: 5% auto 5%;
    padding: 1.2em;
  }
  
  article, #attachment,
  #comments-section,
  ul.page-numbers {
    margin: 0 auto 5%;
    padding: 0;
  }

  #archive {
    width: 100%;
    li {
      width: 100%;
      padding: (100% - $post-width-640) / 2;
      margin: 0;
    }
    li:nth-child(odd) .thumbnail { margin-left: 5%; }
    li:nth-child(even) {
      padding: (100% - $post-width-640) / 2;
      .thumbnail { margin-right: 5%; }
    }
  }
}