@media screen and (max-width: 900px) {
  
  body { font-size: 90%; }
  
  #sidebar nav#site-nav > ul {
    font-size: 1em;
  }
  
  header.post-header .post-title h2,
  .archive-header, .attachment-header,
  article,
  #comments-section
  ul.page-numbers  {
    width: $post-width-900;
  }
  
  #archive {
    li.odd .thumbnail { width: (100% - ($container-margin / ($content-width - 0.03))) / 2.618; }
    li.even .thumbnail { width: (100% - ($container-margin / ($content-width - 0.09))) / 2.618; }
  }
}