@media screen and (max-width: 900px) {
  
  body { font-size: 90%; }
  
  #site-nav > ul { font-size: 1em; }
  
  .post-header .post-title h2,
  article:not(.excerpt), #archive li,
  #comments-section,
  ul.page-numbers  {
    width: $post-width-900;
  }
  
  #archive {
    margin: 0;
    li {
      margin-bottom: 2 * $standard-margin;
      &:last-child { margin-bottom: $standard-margin; }
      &:nth-child(odd), &:nth-child(even) { float: none; margin-right: 0; }
      .thumbnail { padding-top: (1 / 2.618) * 100%; }
    }
  }
}