// Comment Output //

#comments-section {
  position: relative;
  display: block;
  width: $post-width;
  
  h3#comments, #respond h3#comment-form-title { margin: $standard-margin 0; }
  > #respond hr, .commentlist #respond h3#comment-form-title { display: none; }
  .logged-in-as { margin-bottom: 0.6em; }
  .comment-subscription-form { display: none; }
  
  .commentlist {
    margin: 1.2em 0;
    font-size: 0.9em;
    
    li {
      padding: 0.8em;
      overflow: auto;
      li { margin: 0.8em 0 0 0.8em; }
    }
    
    li.bypostauthor > div > .vcard .comment-author-info cite:after {
      content: ' (author)';
    }
    
    .vcard {
      display: block;
      width: 100%;
      height: 32px;
      line-height: 32px;
      
      .comment-author-info {
        float: left;
        cite { font-weight: bold; }
      }
      
      time { float: right; }
      
      img.avatar {
        float: left;
        margin-right: 0.8em;
        border: 1px solid $line-color;
      }
    }
    
    .odd {
      background: $highlight;
      > #respond #commentform, blockquote { background: $bg-color; }
    }
    .even {
      background: $bg-color;
      > #respond #commentform { background: $highlight; }
    }
    
    .comment-content {
      clear: both;
    }
  }

  #commentform {

    .logout-link { float: right; }
    .form-element { line-height: 0; }
    
    li {
      list-style-type: none;
      clear: both;
      margin: 0; padding: 0;
      margin-bottom: 1.2em;

      label,
      small {
        display: none;
      }
    }

    input[type=text],
    input[type=email],
    input[type=url],
    textarea {
      @include form-input;

      // form validation //
      &:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        @include prefix(box-shadow, none)
      }
    }

    input[type=text],
    input[type=email],
    input[type=url] {
      width: 400px;
      min-width: 250px;
    }
    
    input[type=submit], #cancel-comment-reply-link { margin-top: 1.2em; }
    #cancel-comment-reply-link:before {
      content: '\20 \00b7 \20';
      color: $primary-color;
    }
    
    textarea {
      resize: none;
      width: 100%;
      height: 15em;
    }
  }
  
  .commentlist {
    #commentform {
      padding: 0.8em;
      margin: 0 0 0 0.8em;
    }
  }
}