@media screen and (min-width: nth($breakpoints, 1)) {

	#title {
		font-size: 2em;
	}
	
	.pagination {
		padding-left: 90px;
		padding-right: 80px;
		.next, .prev {
			position: absolute;
			top: 0;
			bottom: 0;
		}
		.prev {
			left: 0;
		}
		.next {
			right: 0;
		}
		> *:not(.next):not(.prev) {
			display: inline-block;
		}
	}
	
	.archive-thumbnail,
	.post-thumbnail {
		width: 70%;
		padding-top: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}