@media screen and (min-width: nth($breakpoints, 1)) {

	#title {
		font-size: 2em;
	}
	
	.post-header {
		height: 300px;
		padding: 0;
	}

	.archive-thumbnail {
		padding-top: (100% / 2.618);
	}
	
	.pagination {
		padding-left: 84px;
		padding-right: 84px;
		.next, .prev {
			position: absolute;
			top: 0.2em;
			bottom: 0.2em;
		}
		.prev {
			left: 0;
		}
		.next {
			right: 0;
		}
		> *:not(.next):not(.prev) {
			display: inline-block;
		}
	}
}