@media screen and (min-width: nth($breakpoints, 2)) {

	%thumbnail-style {
		width: 50% - (50% * $percent-margin / (100% - (2 * $percent-margin)));
		padding-top: 50% - (50% * $percent-margin / (100% - (2 * $percent-margin)));
	}

	.archive-thumbnail {
		width: 100%;
		padding-top: 100%;
	}
	
	#archive {
	
		.post,
		.page {
			// sets width to 50% minus a center-margin of $percent-margin...trust me.
			width: 50% - (50% * $percent-margin / (100% - (2 * $percent-margin)));
			
			&.odd-post { 
		    	float: left;
		    	clear: both;
			}
		    
			&.even-post {
				float: right;
			}
		}
		
		.sticky:first-of-type {
			width: 100%;
			
			.cp-tags {
				text-align: right;
			}
			
			.excerpt {
				margin-top: 0;
			}
			
			> a:hover + article h3 {
				border-color: $link-hover;
			}
			
			.archive-thumbnail {
				float: left;
				margin-right: $desktop-vw;
				@extend %thumbnail-style;
			}
			
			.archive-post-title {
				clear: none;
				font-size: 2em;
				margin-left: 25%;
				border-left: 2px solid $primary-color;
				border-bottom-left-radius: 10px;
			}
		}
	}
	
	.post-thumbnail {
		float: right;
		margin-left: $desktop-vw;
		margin-bottom: 20px;
		@extend %thumbnail-style;
	}
	
	.post-header h1 {
		clear: none;
		margin-right: 25%;
		font-size: 2.4em;
		border-right: 2px solid $primary-color;
		border-bottom-right-radius: 10px;
	}
	
	.wp-caption-text {
		overflow: hidden;
	}
	
	.footer-widget {
		float: left;
		width: 30%;
		max-width: 30%;
		margin: 0 $percent-margin 0 0;
		&:last-child {
			float: right;
			margin-right: 0;
			width: auto;
		}
	}
}