@media screen and (min-width: nth($breakpoints, 2)) {

	#archive {
		.post {
			// sets width to 50% minus a center-margin of $mobile-margin...trust me.
			width: 50% - (50% * $mobile-margin / (100% - (2 * $mobile-margin)));

			&.odd-post { 
		    	float: left;
				clear: both;
			}
		    
			&.even-post {
				float: right;
			}
			
			.archive-thumbnail {
				padding-top: (100% / 1.618);
			}
		}
		.sticky:first-child {
			width: 100%;
			.archive-thumbnail {
				padding-top: (50% / 1.618);
			}
			h3 {
				font-size: 1.8em;
			}
		}
	}
}