@media screen and (min-width: nth($breakpoints, 2)) {

	#archive {
		.post:not(.sticky) {
		    width: (100% - $mobile-margin) / 2;
		    
			&.odd-post { 
		    	float: left;
				clear: both;
		    }
		    &.even-post {
				float: right;
		    }
		    .archive-thumbnail {
				padding-top: (100% / 1.618);
			}
	    }
    	.sticky {
			.archive-thumbnail {
				padding-top: (50% / 1.618);
			}
			h3 {
				font-size: 1.8em;
			}
		}
	}
}