@media screen and (min-width: nth($breakpoints, 3)) {

    %display-block-3 {
        display: block;
    }
    
    %text-align-center-3 {
        text-align: center;
    }

    /****************************************
        Positioning
    ****************************************/
    
    %sidebar-3 {
        @extend %display-block-3;
        position: absolute;
        width: $nav-width;
        background: transparent;
    }
    
    %site-nav {
        position: absolute;
        float: left;
        width: 100%;
    }
    
    %content {
        float: right;
        width: $content-width;
    }
    
    /****************************************
        Margin/Padding Resets
    ****************************************/
    
    #header,
    #footer,
    #content-container {
        margin: 0 $desktop-vw;
    }
    
    #header {
        padding: 0 20px;
    }
    
    #footer {
        padding: $margin-em;
    }
    
    #content {
        @extend %content;
        padding: $desktop-vw 0;
    }
    
    #sidebar {
        @extend %sidebar-3;
        padding: 0;
    }
    
    #site-nav {
        @extend %site-nav;
        padding: $desktop-vw 0;
    }
    
    .archive-header {
        margin-bottom: $desktop-vw;
    }
    
    .post-nav,
    .pagination {
        margin-top: $desktop-vw;
    }
    
    #post,
    #archive-page,
    #archive .post,
    #archive .page {
        margin-bottom: $desktop-vw;
    }
    
    #comments {
        margin-top: $desktop-vw;
    }
    
    #archive .post,
    #archive .page {
        // sets width to 50% minus a center-margin of $percent-margin
        width: 50% - (50% * $percent-margin / ($content-width - (2 * $percent-margin)));
    }


    /****************************************
        Sidebar, Main Navigation
    ****************************************/    
    
    #sidebar {
        border: none;
    }
    
    #sidebar .menu {
        @extend %display-block-3;
        padding: 0;
        font-size: 1.1em;
    }
    
    .menu-toggle {
        display: none;
    }
    
    
    /****************************************
        Other
    ****************************************/    
    
    .header-widget {
        @extend %display-block-3;
        float: right;
        line-height: 60px;
        max-height: 60px;
        overflow: hidden;
        &:not(:first-of-type(.header-widget)) {
            // only one widget allowed!
            display: none;
        }
    }
    
    .article-widget {
        margin: $max-margin 0;
        @extend %display-block-3;
        @extend %text-align-center-3;
        &:empty {
            display: none;
        }
    }
    
    .post-nav h3 {
        font-size: 1.6em;
    }
    
    #comments {
        font-size: 2em;
    }
}