@media screen and (min-width: nth($breakpoints, 3)) {

	%display-block-3 {
		display: block;
	}
	
	%text-align-center-3 {
		text-align: center;
	}

	/****************************************
	    Positioning
	****************************************/
	
	%sidebar-3 {
		@extend %display-block-3;
		position: fixed;
		bottom: 0;
		width: $nav-width;
		background: transparent;
	}
	
	%content {
		float: right;
		width: $content-width;
	}
	
	/****************************************
	    Margin/Padding Resets
	****************************************/
	
	#header, #footer {
		margin: 0 $desktop-vw;
	}
	
	#footer {
		padding: $margin-em;
	}
	
	#content {
		@extend %content;
		padding: $desktop-vw $desktop-vw $desktop-vw 0;
	}
	
	#sidebar {
		@extend %sidebar-3;
		margin: $desktop-vw;
		padding: 0;
	}
	
	.archive-header {
		margin-bottom: $desktop-vw;
	}
	
	#title {
	    padding: 0 20px;
		font-size: 2.2em;
	}
	
	.post-nav,
	.pagination {
		margin-top: $desktop-vw;
	}
	
	#post,
	#archive-page,
	#archive .post,
	#archive .page {
		margin-bottom: $desktop-vw;
	}
	
	#comments,
	#reply-title {
		margin-top: $desktop-vw;
	}
	
	#archive .post,
	#archive .page {
		// sets width to 50% minus a center-margin of $percent-margin
	    width: 50% - (50% * $percent-margin / ($content-width - (2 * $percent-margin)));
	}


	/****************************************
	    Sidebar, Main Navigation
	****************************************/	
	
	#sidebar {
		border: none;
	}
	
	.menu {
		@extend %display-block-3;
		padding: 0;
		font-size: 1.1em;
	}
	
	.menu-toggle {
		display: none;
	}
	
	
	/****************************************
	    Other
	****************************************/	
	
	#header-widget {
		@extend %display-block-3;
		float: right;
		height: 74px;
		line-height: 74px;
		overflow: hidden;
	}
	
	#sidebar-widget {
		position: absolute;
		bottom: 0;
		color: $line-color;
		text-align: center;
	}
	
	#article-widget {
		@extend %display-block-3;
		@extend %text-align-center-3;
		&:empty {
			display: none;
		}
	}
	
	.post-nav h3 {
		font-size: 1.6em;
	}
	
	#comments {
		font-size: 2em;
	}
}