@media screen and (min-width: nth($breakpoints, 4)) {

	$container-width: nth($breakpoints, 4);

	#container {
		width: $container-width;
	}
	

	/****************************************
	    Margin/Padding Resets
	****************************************/
	
	#header,
	#footer,
	#content-container {
		margin: 0 $max-margin;
	}
	
	#content,
	#site-nav {
		padding: $max-margin 0;
	}
	
	.archive-header {
		margin-bottom: $max-margin;
	}
	
	.post-nav,
	.pagination {
		margin-top: $max-margin;
	}
	
	#post,
	#archive-page,
	#archive .post,
	#archive .page {
		margin-bottom: $max-margin;
	}
	
	#comments{
		margin-top: $max-margin;
	}
	
	#archive .sticky:first-of-type .archive-thumbnail {
		margin-right: $max-margin;
	}
	
	.post-thumbnail {
		margin-left: $max-margin;
	}
	
}