@media screen and (min-width: nth($breakpoints, 4)) {

	$container-width: nth($breakpoints, 4);

	#container {
		width: $container-width;
	}
	

	/****************************************
	    Margin/Padding Resets
	****************************************/
	
	#content-container,
	#header,
	#footer {
		margin: 0 $max-margin;
	}
	
	#content,
	#sidebar {
		padding: $max-margin 0;
	}
	
	.archive-header {
		margin-bottom: $max-margin;
	}
	
	.post-nav,
	.pagination {
		margin-top: $max-margin;
	}
	
	#post,
	#archive-page,
	#archive .post,
	#archive .page {
		margin-bottom: $max-margin;
	}
	
	#comments{
		margin-top: $max-margin;
	}
	
}