@media screen and (max-width: 640px) {

  nav ul {
    font-size: 1.5em;
  }
  
  .post-header {
    height: 20em;
  
    h2 .post-title {
      width: 100%;
      float: none;
      font-size: 2.6em;
      line-height: 1.4em;
    }
  }
  
  #container article#post {
    width: 68%;
    margin-right: 2%;
    font-size: 1.6em;
  } 
}